name: DevOps Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Production Practice: Tag with the Git Commit SHA for traceability
          tags: |
            mayank3107/rag:rag-app
            mayank3107/rag:${{ github.sha }}

      # In a real enterprise setup, the CD step would use a tool like ArgoCD.
      # For now, we simulate the 'Trigger' for K8s to update.
      - name: Update Kubernetes Manifest
        run: |
          echo "New image mayank3107/rag:${{ github.sha }} pushed."
          # In local KinD, you would manually run the next step.